.shuffle-parent {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  will-change: transform;
  line-height: 1.1;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 800;
  text-transform: none;
  visibility: hidden;
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-char {
  line-height: 1.1;
  display: inline-block;
  text-align: center;
}
